﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿
<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fanikiwa - Peer-to-Peer Lending</title>
<link href="/Images/Dollar.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="/Content/Site.css" type="text/css" />
<script src="/Scripts/jquery-2.0.3.js" type="text/javascript"></script>

</head>


<body>

	<header>
		<div class="content-wrapper">

			<div class="float-left">
				<p class="site-title" title="Fanikiwa - Peer - To - Peer Lending">
					Fanikiwa - Peer - To - Peer Lending</p>
			</div>


			<div class="float-right">
				<section id="login">
					<text> Welcome To Fanikiwa, <a id="lnklogin"
						style="cursor: pointer;" href="#" onclick="LogIn()" title="Log In">Log
						In</a> </text>
				</section>
			</div>


		</div>

	</header>




	<div id="body">


		<section class="content-wrapper main-content clear-fix">

			<div id="error-display-div" class="displaynone"></div>


			<hgroup class="title">
				<h2 class="page-title">SMS Test</h2>
			</hgroup>

			<form action="javascript:void(0);">

				<fieldset>
					<legend>SMS Test</legend>

					<article class="col1">
						<div class="pad">

							<div>
								<label for="txtTelno">Telephone Number</label> <input
									id="txtTelno" autofocus placeholder="telno" type="text"></input>
							</div>

							<div>
								<label for="txtBody">Body</label> <input id="txtBody"
									placeholder="body" type="text"></input>
							</div>



						</div>
					</article>


					<div style="float: left; clear: both">
						<input type="submit" value="Test" onclick="sendAjax()"
							id="btnTest" style="float: left; clear: both" />
					</div>

				</fieldset>


			</form>


			<div id="apiResults" style="float: left; clear: both"></div>

		</section>


	</div>



	<footer>

		<hr />

		<div id="div-mpesapaybill">
			<span id="mpesapaybill">Mpesa Paybill Number</span> <span
				id="mpesapaybillnumber">882600</span>
		</div>

		<div id="div-copyright">
			<span id="copyright">Copyright &copy;</span> <span id="footerdate"></span>
			<span id="companyname"> Software Providers Limited.</span> <span
				id="rightsreserved">All Rights Reserved.</span>
		</div>

		<div id="div-androiddownload">
			<img id="android" src="/Images/android.png"
				alt="Fanikiwa in your pocket!" /> <span id="pocket">Fanikiwa
				in your pocket!</span> <span id="ourapp">Get our app and invest on
				the go.</span><span id="freedownload">Free download now</span>
			<div id="androiddownload">
				<a id="androiddownloadlink" target="_blank" href="#"> </a>
			</div>
		</div>

	</footer>


	<script type="text/javascript">
	
	var errormsg='';
 	errormsg +=   '<ul id="errorList">' ;
 	
    function sendAjax() {

    	errormsg='';
        ClearException(); 
        errormsg +=   '<ul id="errorList">' ;
        var error_free=true;
        
        // Validate the entries
    	var telno = $('#txtTelno').val();
    	var body = $('#txtBody').val();
    	
    	 if(telno.length == 0)
    	 { 
    	    errormsg += '<li>' + " Telno cannot be null "   + '</li>'; 
        	error_free = false; 
    	 }
    	 if(body.length == 0)
    	 {
    		errormsg += '<li>' + " Body cannot be null "   + '</li>'; 
         	error_free = false;
    	 }
    	 
    	 if (!error_free){
	         errormsg += "</ul>";
	    	 $("#error-display-div").html(errormsg); 
	         $("#error-display-div").removeClass('displaynone');
	         $("#error-display-div").addClass('displayblock');
	         $("#error-display-div").show();  
	         return;
         }
        else{
	        ClearException(); 
         }
      	 
    	
    	// Build the Request Object
        var sms = new Object();
        sms.addressFrom = $('#txtTelno').val();
        sms.body = $('#txtBody').val();
     
        $('#apiResults').html('sending...');
        
        sendAjaxNow(sms); 
    }
    
    function sendAjaxNow(sms) {

    	var url ='http://localhost:8888/FanikiwaSMS';
    	
    	$.ajax({
            url: url, 
            type: 'POST',
            dataType: 'text',
            data: JSON.stringify(sms),
            contentType: 'application/json',
            mimeType: 'application/json', 
            success: function (data) {
            	 $('#apiResults').html(data);
            },
            error:function(xhr,status,error) {
            	$('#apiResults').html("xhr ="+ xhr + "\nStatus=" +status+ "\nError="+error);
            	alert("xhr ="+ xhr + "\nStatus=" +status+ "\nError="+error);
            }
        });
     } 
    
    function DisplayException(errormsg) {
   	 
      	errormsg += "</ul>";
      		 
       	 $("#error-display-div").html(errormsg); 
         $("#error-display-div").removeClass('displaynone');
         $("#error-display-div").addClass('displayblock');
         $("#error-display-div").show();  
  	  }

   	function ClearException() {
   		$('#errorList').remove();
   		$('#error-display-div').empty();
   	}
   	 
   	</script>




</body>


</html>
