<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Home | Fanikiwa - Peer-to-Peer Lending</title>
<link href="/Images/Dollar.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="/Content/Site.css" type="text/css" />
<script src="/Scripts/jquery-2.0.3.js" type="text/javascript"></script>
<script src="/Scripts/MainMenu.js"></script>
<script src="/Scripts/loginutil.js"></script>
<script src="/Scripts/fanikiwa.js"></script>
<script src="/Scripts/Home.js"></script>
</head>


<body>

	<header>
		<div class="content-wrapper">

			<div class="float-left">
				<p class="site-title" title="Fanikiwa - Peer - To - Peer Lending">
					Fanikiwa - Peer - To - Peer Lending</p>
			</div>

			<div class="float-right">
				<section id="login">
					<text> Welcome To Fanikiwa</text>
				</section>
			</div>

			<div id="MainMenu"></div>
			<div id="SubMenu"></div>

		</div>


	</header>




	<div id="body">

		<section class="content-wrapper main-content clear-fix">

			<div id="error-display-div" class="displaynone"></div>


			<section class="featured">
				<div class="content-wrapper">

					<hgroup class="title">
						<h1>Fanikiwa Peer-To-Peer Lending.</h1>
					</hgroup>

					<hgroup class="title">
						<h2>How peer-to-peer lending work.</h2>
					</hgroup>

					<div class="clearboth">

						<p>
							Also known as social lending or lend-to-save, peer-to-peer
							lending works by individual lenders and borrowers coming together
							to get better rates. <br /> Fanikiwa's peer-to-peer loans offer
							borrowers competitive low rates and flexible terms. <br />
							Lenders earn higher returns by lending to borrowers. <br />
							Peer-to-peer lending sites match up savers, who are willing to
							lend, with borrowers - either individuals or small businesses. <br />
							Rates can be better than those offered by banks - as high as
							about 16% for savers, and as low as about 5% for borrowers on a
							five-year loan.<br /> Peer-To-Peer Lending, which is a concept
							that has been around for a very long time, but the method as to
							how it was carried out was not always efficient at all. It went a
							little something like this:<br /> Friend #1: Hey best friend,
							can I borrow 100,000 to get a new car?<br /> Friend #2: Do you
							promise to pay me back?<br /> Friend #1: Of course, you know
							that I am good for it!<br /> Friend #2: Ok fine, I will get the
							money to you by next week.<br /> The truth is that these
							situations are very common. <br /> We enter into
							lending/borrowing agreements with friends and families all the
							time, and the lender enters into a situation with unlimited risk
							and no reward for their risk.<br /> This is where a website like
							Fanikiwa comes into play. <br /> Fanikiwa is a peer-to-peer
							lending network that brings investors and borrowers together to
							satisfy both parties needs by offering a secure, legal, and
							efficient service. Those people who wish to take more control of
							their investments can lend money to borrowers, and borrowers who
							are tired of having limited options for choosing a personal loan
							product can try Fanikiwa .

						</p>

					</div>

					<div class="clearboth">

						<hgroup class="title">
							<h2 class="title">Fanikiwa offers low rate loans with no
								early repayment fees.</h2>
						</hgroup>


					</div>



					<div class="clearboth">
						<ol class="round">

							<li class="one">
								<h5>Join Fanikiwa!</h5>

								<div>

									<div>
										Enter your details on the register screen by clicking <a
											id="btnSubmitRegisterIndexForm"
											href="/Views/Account/Register.html" style="cursor: pointer;">Register</a>
									</div>


								</div>

							</li>

							<li class="two">
								<h5>Complete Your Profile</h5>

								<div>

									<div>
										After clicking register you will automatically be redirected
										to the home page. Click on <a
											id="btnSubmitEditProfileIndexForm"
											href="/Views/Account/EditProfile.html"
											style="cursor: pointer;">My Profile</a> and Complete your
										Profile.
									</div>


								</div>

							</li>

							<li class="three">
								<h5>Make An Investement</h5>

								<div>

									<div>
										You can make an investment by making a lend offer <a
											id="btnSubmitListBorrowOffersIndexForm"
											href="/Views/Offers/ListBorrowOffers.html"
											style="cursor: pointer;">Make An Investement</a>
									</div>


								</div>

							</li>

							<li class="four">
								<h5>Get A loan</h5>

								<div>

									<div>
										You can get a loan by making a borrow offer <a
											id="btnSubmitListLendOffersIndexForm"
											href="/Views/Offers/ListLendOffers.html"
											style="cursor: pointer;">Get A loan</a>
									</div>

								</div>

							</li>


						</ol>
					</div>


					<div class="clearboth">

						<hgroup class="title">
							<h2 class="title">Why Fanikiwa</h2>
						</hgroup>

						<ul>
							<li>
								<h5>Low fixed rates</h5>
							</li>
							<li>
								<h5>Fast and easy online application</h5>
							</li>
							<li>
								<h5>No teaser rates or hidden fees</h5>
							</li>
							<li>
								<h5>Rates from 5% to 20% APR</h5>
							</li>
							<li>
								<h5>
									No early repayment fees <br /> (flexibility to repay loan
									early or make extra payments)
								</h5>
							</li>
							<li>
								<h5>Borrow between Ksh1,000 and Ksh100,000</h5>
							</li>
							<li>
								<h5>Loans available over 1, 2, 3, 4 or 5 years</h5>
							</li>
						</ul>

					</div>

					<div class="clearboth">

						<hgroup class="title">
							<h2 class="title">How to apply for Fanikiwa loans</h2>
						</hgroup>

						<ul class="round">
							<li class="one">
								<h5>Check the rates</h5>
							</li>

							<li class="two">
								<h5>Get a quote</h5>
							</li>

							<li class="three">
								<h5>Accept the quote and apply online</h5>
							</li>

							<li class="four">
								<h5>Approval within 24 hours (Mon to Fri)</h5>
							</li>

							<li class="five">
								<h5>Money transferred on approval</h5>
							</li>

						</ul>

					</div>


				</div>
			</section>


		</section>

	</div>




	<footer>

		<hr />

		<div id="div-mpesapaybill">
			<span id="mpesapaybill">Mpesa Paybill Number</span> <span
				id="mpesapaybillnumber">882600</span>
		</div>

		<div id="div-copyright">
			<span id="copyright">Copyright &copy;</span> <span id="footerdate"></span>
			<span id="companyname"> Software Providers Limited.</span> <span
				id="rightsreserved">All Rights Reserved.</span>
		</div>

		<div id="div-androiddownload">
			<img id="android" src="/Images/android.png"
				alt="Fanikiwa in your pocket!" /> <span id="pocket">Fanikiwa
				in your pocket!</span> <span id="ourapp">Get our app and invest on
				the go.</span><span id="freedownload">Free download now</span>
			<div id="androiddownload">
				<a id="androiddownloadlink" target="_blank" href="#"> </a>
			</div>
		</div>

	</footer>




	<script type="text/javascript">
		
	</script>





</body>


</html>
