<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fanikiwa - Administrator</title>
<link href="/Images/Dollar.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="/Content/Site.css" type="text/css" />
<script src="/Scripts/jquery-2.0.3.js" type="text/javascript"></script>
<script src="/Scripts/CustomScripts.js" type="text/javascript"></script>


</head>


<body>

	<header>
		<div class="content-wrapper">

			<div class="float-left">
				<p class="site-title" title="Fanikiwa - Administrator">Fanikiwa
					- Administrator</p>
			</div>


			<div class="float-right">
				<section id="login">
					<text> Welcome To Fanikiwa, <a id="lnkloggedinuser"
						style="cursor: pointer;" href="#" onclick="ManageProfile()"
						title="Manage Profile"></a> <a id="lnklogoff"
						style="cursor: pointer;" href="#" onclick="LogOff()"
						title="Log Off">Log off</a> </text>
				</section>
			</div>


			<div id="nav">
				<ul id="menu">

					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitIndexForm" style="cursor: pointer;"
									href="/Views/Home/Index.html">Home</a>
							</div>

						</div>

					</li>

					<li id="subMenuSettings">

						<div class="floatleft">

							<div>
								<a id="btnSubmitSettingsForm" style="cursor: pointer;"
									href="/Views/Setting/List.html">Settings</a>
							</div>

						</div>

					</li>

					<li id="subMenuFanikiwaAccounts">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllAccountsForm" style="cursor: pointer;"
									href="/Views/Account/List.html">Accounts</a>
							</div>

						</div>

					</li>

					<li id="subMenuTransactionTypes">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllTransactionTypesForm"
									style="cursor: pointer;"
									href="/Views/TransactionType/List.html">Transaction Types</a>
							</div>

						</div>

					</li>


					<li id="subMenuAccountTypes">

						<div class="floatleft">

							<div>
								<a id="btnSubmitAccountTypesForm" style="cursor: pointer;"
									href="/Views/AccountType/List.html">Account Types</a>
							</div>

						</div>

					</li>


					<li id="subMenuCoa">

						<div class="floatleft">

							<div>
								<a id="btnSubmitCoaForm" style="cursor: pointer;"
									href="/Views/Coa/List.html">Coa</a>
							</div>

						</div>

					</li>


					<li id="subMenuCoaDet">

						<div class="floatleft">

							<div>
								<a id="btnSubmitCoaDetForm" style="cursor: pointer;"
									href="/Views/CoaDet/List.html">Coa Details</a>
							</div>

						</div>

					</li>



					<li id="subMenuTieredtable">

						<div class="floatleft">

							<div>
								<a id="btnSubmitTieredtableForm" style="cursor: pointer;"
									href="/Views/Tieredtable/List.html">Tiered Table</a>
							</div>

						</div>

					</li>


					<li id="subMenuTieredDet">

						<div class="floatleft">

							<div>
								<a id="btnSubmitTieredDetForm" style="cursor: pointer;"
									href="/Views/TieredDet/List.html">Tiered Details</a>
							</div>

						</div>

					</li>


					<li id="subMenuOrganization">

						<div class="floatleft">

							<div>
								<a id="btnSubmitOrganizationForm" style="cursor: pointer;"
									href="/Views/Organization/List.html">Organizations</a>
							</div>

						</div>

					</li>

					<li id="subMenuCustomer">

						<div class="floatleft">

							<div>
								<a id="btnSubmitCustomerForm" style="cursor: pointer;"
									href="/Views/Customer/List.html">Customers</a>
							</div>

						</div>

					</li>


					<li id="subMenuOffers">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllOffersForm" style="cursor: pointer;"
									href="/Views/Offer/List.html">Offers</a>
							</div>

						</div>

					</li>


					<li id="subMenuAllLoans">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListAllLoansForm" style="cursor: pointer;"
									href="/Views/Loan/List.html">Loans</a>
							</div>

						</div>

					</li>

					<li id="subMenuSTO">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListSTOForm" style="cursor: pointer;"
									href="/Views/STO/List.html">Sheduled Transactions</a>
							</div>

						</div>

					</li>

					<li id="subMenuValueDatedTransaction">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListValueDatedTransactionForm"
									style="cursor: pointer;"
									href="/Views/ValueDatedTransaction/List.html">Value Dated
									Transactions</a>
							</div>

						</div>

					</li>

					<li id="subMenuUserprofile">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListUserprofileForm" style="cursor: pointer;"
									href="/Views/Userprofile/List.html">Users</a>
							</div>

						</div>

					</li>

					<li id="subMenuAllRegisteredMembers">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllRegisteredMembersForm"
									style="cursor: pointer;" href="/Views/Member/List.html">Members</a>
							</div>

						</div>

					</li>


					<li id="subMenuAllOfferGroups">


						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllOfferGroupsForm" style="cursor: pointer;"
									href="/Views/MailingGroup/List.html">Offer Groups</a>
							</div>

						</div>

					</li>

					<li id="subMenuTransactions">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllTransactionsForm" style="cursor: pointer;"
									href="/Views/Transaction/List.html">Transactions</a>
							</div>

						</div>

					</li>


					<li id="subMenuDeposit">


						<div class="floatleft">

							<div>
								<a id="btnSubmitDepositCashForm" style="cursor: pointer;"
									href="/Views/Deposit/Deposit.html">Deposit</a>
							</div>

						</div>

					</li>


					<li id="subMenuWithDrawCash">

						<div class="floatleft">

							<div>
								<a id="btnSubmitWithDrawCashForm" style="cursor: pointer;"
									href="/Views/Withdraw/Withdraw.html">WithDraw</a>
							</div>

						</div>

					</li>


					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitHelpForm" style="cursor: pointer;"
									href="/Views/Home/Help.html">Help</a>
							</div>

						</div>

					</li>


					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitContactsForm" style="cursor: pointer;"
									href="/Views/Home/Contact.html">Contacts</a>
							</div>

						</div>

					</li>


					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitAboutForm" style="cursor: pointer;"
									href="/Views/Home/About.html">About</a>
							</div>

						</div>

					</li>


				</ul>
			</div>


		</div>


	</header>




	<div id="body">


		<section class="content-wrapper main-content clear-fix">

			<div id="error-display-div" class="displaynone"></div>


			<hgroup class="title">
				<h2 class="page-title">Create Customer</h2>
			</hgroup>

			<form action="javascript:void(0);">

				<fieldset>
					<legend>Create Customer</legend>

					<article class="col1">
						<div class="pad">

							<div>
								<label for="txtname">Name</label> <input id="txtname"
									placeholder="Name" autofocus="autofocus" type="text"></input>
							</div>

							<div>
								<label for="txtemail">Email</label> <input id="txtemail"
									placeholder="Email" type="text"></input>
							</div>

							<div>
								<label for="txtaddress">Address</label> <input id="txtaddress"
									placeholder="Address" type="text"></input>
							</div>

							<div>
								<label for="txttelephone">Telephone</label> <input
									id="txttelephone" placeholder="Telephone" type="text"></input>
							</div>

							<div>
								<label for="txtcustomerNo">CustomerNo</label> <input
									id="txtcustomerNo" placeholder="CustomerNo" type="text"></input>
							</div>

							<div>
								<label for="cboorganization">Organization</label> <select
									id="cboorganization">
									<option value="-1" selected="selected">(Select
										Organization)</option>
								</select>
							</div>


							<div>
								<label for="cbomember">Member</label> <select id="cbomember">
									<option value="-1" selected="selected">(Select Member)</option>
								</select>
							</div>

						</div>
					</article>


					<article class="col2">
						<div class="pad">

							<div>
								<label for="txtbillToName">Bill To Name</label> <input
									id="txtbillToName" placeholder="Bill To Name" type="text"></input>
							</div>

							<div>
								<label for="txtbillToEmail">Bill To Email</label> <input
									id="txtbillToEmail" placeholder="Bill To Email" type="text"></input>
							</div>

							<div>
								<label for="txtbillToAddress">Bill To Address</label> <input
									id="txtbillToAddress" placeholder="Bill To Address" type="text"></input>
							</div>

							<div>
								<label for="txtbillToTelephone">Bill To Telephone</label> <input
									id="txtbillToTelephone" placeholder="Bill To Telephone"
									type="text"></input>
							</div>

							<div>
								<label for="txtbranch">Branch</label> <input id="txtbranch"
									placeholder="Branch" type="text"></input>
							</div>


						</div>
					</article>

					<div style="float: left; clear: both">
						<input type="submit" value="Create" id="btnCreate"
							style="float: left; clear: both" /> <input type="submit"
							value="Clear" id="btnClear" onclick="Clear()" />
					</div>

				</fieldset>


			</form>


		</section>


	</div>



	<footer>

		<hr />

		<div style="margin-left: 180px;">
			<span style="float: left; padding-left: 2px; padding-right: 2px;">Copyright
				&copy;</span> <span id="footerdate"
				style="float: left; padding-left: 2px; padding-right: 2px;"></span>
			<span style="float: left; padding-left: 2px; padding-right: 2px;">
				Software Providers Limited.</span> <span
				style="float: left; padding-left: 2px; padding-right: 2px;">All
				Rights Reserved.</span>
		</div>

	</footer>



	<script type="text/javascript">

	var now = new Date(); 
    $('#txtcreatedDate').val(now);
    
	var errormsg='';
	errormsg +=   '<ul id="errorList">' ;
      // var ROOT ='https://1-dot-fanikiwaweb.appspot.com/_ah/api';
      var ROOT ='http://localhost:8888/_ah/api';   
      function init() {

         	try {
         	
        // Parameters are APIName,APIVersion,CallBack function,API Root
        gapi.client.load('customerendpoint', 'v1', null, ROOT);
        gapi.client.load('memberendpoint', 'v1', null, ROOT);
        gapi.client.load('organizationendpoint', 'v1', null, ROOT);
          
        document.getElementById('btnCreate').onclick = function() {
        CreateCustomer();
        	  }
        
        populateMembers();
        
        populateOrganization();
        
         	} catch(exception) {  
                console.log("Error : " + exception);
                errormsg += '<li>' + exception   + '</li>';
                DisplayException(errormsg); 
         } 
        }
        
        function CreateCustomer() {

           	try {

                errormsg='';
                ClearException(); 
                errormsg +=   '<ul id="errorList">' ;
                var error_free=true;
            
        	// Validate the entries
        	var _name = document.getElementById('txtname').value;
        	var _email = document.getElementById('txtemail').value;
        	var _address = document.getElementById('txtaddress').value;
        	var _telephone = document.getElementById('txttelephone').value;
        	var _customerNo = document.getElementById('txtcustomerNo').value;
        	var _organization = document.getElementById('cboorganization').value;
        	var _member = document.getElementById('cbomember').value;
        	var _billToName = document.getElementById('txtbillToName').value;
        	var _billToEmail = document.getElementById('txtbillToEmail').value;
        	var _billToAddress = document.getElementById('txtbillToAddress').value;
        	var _billToTelephone = document.getElementById('txtbillToTelephone').value; 
        	var _branch = document.getElementById('txtbranch').value;
        	
    	 if(_name.length == 0)
    	 {
    	 errormsg += '<li>' + " Name cannot be null "   + '</li>'; 
    	 error_free = false;
    	 }
    	 if(_email.length == 0)
    	 {
    	 errormsg += '<li>' + " Email cannot be null "   + '</li>'; 
    	 error_free = false;
    	 }
    	 if(_address.length == 0)
    	 {
    	 errormsg += '<li>' + " Address cannot be null "   + '</li>'; 
    	 error_free = false;
    	 }
    	 if(_telephone.length == 0)
    	 {
    	 errormsg += '<li>' + " Telephone cannot be null "   + '</li>'; 
    	 error_free = false;
    	 }
//    	 if(_customerNo.length == 0)
//    	 {
//    	 errormsg += '<li>' + " Number cannot be null "   + '</li>'; 
//    	 error_free = false;
//    	 }
      
    	 var organization = getOrganization({'id': _organization});
//    	 if(_organization.length == 0 || _organization == -1 || organization == null)
//    	 {
//    	 errormsg += '<li>' + " Select Organization "   + '</li>'; 
//    	 error_free = false;
//    	 }
    	 
    	 var member = getMemberByID({'id': _member});
//    	 if(_member.length == 0 || _member == -1 || member == null)
//    	 {
//    	 errormsg += '<li>' + " Select Member "   + '</li>'; 
//    	 error_free = false;
//    	 }
 
    	 if (!error_free){
	         errormsg += "</ul>";
	    	 $("#error-display-div").html(errormsg); 
	         $("#error-display-div").removeClass('displaynone');
	         $("#error-display-div").addClass('displayblock');
	         $("#error-display-div").show();  
	         return;
         }
        else{
	        ClearException(); 
         }
   
        	// Build the Request Object
        	var customer = {};
        	customer.address = _address;
        	customer.billToAddress = _billToAddress;
        	customer.billToEmail = _billToEmail;
        	customer.billToName = _billToName;
        	customer.billToTelephone = _billToTelephone;
        	customer.branch = _branch;
        	customer.createdDate = new Date();
        	customer.customerNo = _customerNo;
        	customer.email = _email;
        	customer.memberId = member;
        	customer.name = _name;
        	customer.telephone = _telephone;
        	customer.organization = organization; 
        	
        	gapi.client.customerendpoint.insertCustomer(customer).execute(function(resp) {
        		 console.log(resp);
        		if (!resp.code) {
        			 
        		window.location.href = "/Views/Customer/List.html";
        		
        		}  
        		else {
        			console.log(resp.code + " : " + resp.message); 
        			errormsg += '<li>' + resp.code + " : " + resp.message   + '</li>';
        			DisplayException(errormsg);
        		} 
        	});
           	} catch(exception) {  
        		console.log("Error : " + exception);
        		errormsg += '<li>' + exception   + '</li>';
                DisplayException(errormsg);
      }
   }
        
        
        function populateMembers()
        {
       	 var membersarray = [ {id: "5180898790080512", description: "member1"},
       	          			    {id: "5743848743501824", description: "member2"},
       	          			    {id: "6306798696923136", description: "member3"}  ];
       	 var membersoptions = '';
            for (var i = 0; i < membersarray.length; i++) {
            	membersoptions += '<option value="' + membersarray[i].id + '">' + membersarray[i].description + '</option>';
              }
          	try {
          
         gapi.client.memberendpoint.listMember().execute(function(resp) {
           		 for (var i = 0; i < resp.length; i++) {
           			membersoptions += '<option value="' + resp[i].id + '">' + resp[i].description + '</option>';
           } 
        });
          	
          	} catch(exception) {  
               console.log("Error : " + exception);
               errormsg += '<li>' + exception   + '</li>';
               DisplayException(errormsg);
         }
         finally
         {
         $("#cbomember").append(membersoptions);
         }
        }
          
              
        function populateOrganization()
        {
       	 var organizationarray = [
       	      			    {id: "5981343255101440", description: "SP "},
       	      			    {id: "5321636278435840", description: "organization2"},
       	      			    {id: "5884586231857152", description: "organization3"} ];
       	 var organizationoptions = '';
       	 for (var i = 0; i < organizationarray.length; i++) {
       		organizationoptions += '<option value="' + organizationarray[i].id + '">' + organizationarray[i].description + '</option>';
       	        }
          	try { 
         gapi.client.organizationendpoint.listOrganization().execute(function(resp) {
           		 for (var i = 0; i < resp.length; i++) {
           			organizationoptions += '<option value="' + resp[i].id + '">' + resp[i].description + '</option>';
           } 
        });
          	
          	} catch(exception) {  
               console.log("Error : " + exception);
               errormsg += '<li>' + exception   + '</li>';
               DisplayException(errormsg);
         }
         finally
         {
         $("#cboorganization").append(organizationoptions);
         }
        }
        
        
       function Clear(){ 
           $("#txtname").val("");
	       $("#txtemail").val("");
	       $("#txtaddress").val("");
	       $("#txttelephone").val("");
	       $("#txtcustomerNo").val("");
	       $("#cboorganization").val("-1");
	       $("#cbomember").val("-1");
	       $("#txtbillToName").val("");
	       $("#txtbillToEmail").val("");
	       $("#txtbillToAddress").val("");
	       $("#txtbillToTelephone").val("");
	       $("#txtcreatedDate").val("");
	       $("#txtbranch").val("");
       }
       
       function DisplayException(errormsg) {
    	   
  		 errormsg += "</ul>";
  		 
	    	 $("#error-display-div").html(errormsg); 
	         $("#error-display-div").removeClass('displaynone');
	         $("#error-display-div").addClass('displayblock');
	         $("#error-display-div").show();  
  	    }

  	function ClearException() {
  		$('#errorList').remove();
  		$('#error-display-div').empty();
  	}
  	 
    function  getMemberByID(id)
    {
    
      	try {
    // make the api call
    gapi.client.memberendpoint.getMemberByID(id).execute(function(resp) {
      		if (!resp.code) {       			 
      		return resp;       		
      		}       		  
      		else {
      			console.log(resp.code + " : " + resp.message); 
   			errormsg += '<li>' + resp.code + " : " + resp.message   + '</li>';
   			DisplayException(errormsg);
   		}
      	});
      	
      	} catch(exception) {  
           console.log("Error : " + exception);
           errormsg += '<li>' + exception   + '</li>';
           DisplayException(errormsg);
     }
    }
    
    function  getOrganization(id)
    {
    
      	try {
    // make the api call
    gapi.client.organizationendpoint.getOrganization(id).execute(function(resp) {
      		if (!resp.code) {       			 
      		return resp;       		
      		}       		  
      		else {
      			console.log(resp.code + " : " + resp.message); 
   			errormsg += '<li>' + resp.code + " : " + resp.message   + '</li>';
   			DisplayException(errormsg);
   		}
      	});
      	
      	} catch(exception) {  
           console.log("Error : " + exception);
           errormsg += '<li>' + exception   + '</li>';
           DisplayException(errormsg);
     }
    }
    
    
    </script>

	<script src="https://apis.google.com/js/client.js?onload=init"></script>




</body>


</html>
